    <!-- Main content -->
    <section class="content mt-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Sorting Example</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th></th>
                    <th (click)="sortData('firstName')">First Name</th>
                    <th (click)="sortData('lastName')">Last Name</th>
                    <th (click)="sortData('email')">Email</th>
                    <th (click)="sortData('address')">Address</th>
                    <th (click)="sortData('dob')">DOB</th>
                    <th (click)="sortData('completion')">Completion</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let u of userRecords">
                    <td><img alt="Image placeholder" style="height:40px;" [src]="u.icon"></td>
                    <td>{{u.firstName}}</td>
                    <td>{{u.lastName}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.address}}</td>
                    <td>{{u.dob}}</td>
                    <td>{{u.completion}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

 
