<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
          <div class="card mb-4 shadow">
            <div class="card-header pb-0">
              <h6>Emploayee Details</h6>
              <button type="button" class="btn btn-primary" style="float: right;" (click)="addEmpPopup()">Add New Employee</button>     
            </div>
            <qdn-table [filterObject]="filterObject" [sortObj]="sortObj" [columns]="columns">
              <ng-template qdnTable name="Action" let-data="data">             
                <button type="button" class="btn btn-primary" (click)="empEditP(data)">Edit P</button>  
                <button type="button" class="btn btn-primary" (click)="empEditR(data)">Edit R</button>            
              </ng-template>             
            </qdn-table>            
          </div>
        </div>
    </div> 
     <!-- Template Driven Form 
      <qdn-popup  #popup [isShowPopup]="popupConfig.isShowPopup" (CloseEvent)="close($event)">
        <qdn-am-employees-edit-popup [amemployee]="amemployee"></qdn-am-employees-edit-popup>
    </qdn-popup>
    <qdn-popup  #popupadd [isShowPopup]="addPopupConfig.isShowPopup" (CloseEvent)="close($event)">
        <qdn-am-employees-add-popup></qdn-am-employees-add-popup>
    </qdn-popup>-->
  
  <!-- Template Driven Form -->
  <qdn-popup  #popup [isShowPopup]="popupConfig.isShowPopup" (CloseEvent)="close($event)">
      <qdn-am-employees-edit-popup [amemployee]="amemployee"></qdn-am-employees-edit-popup>
  </qdn-popup>

  <!-- Reactive Form -->
  <qdn-popup  #popupadd [isShowPopup]="addPopupConfig.isShowPopup" (CloseEvent)="close($event)">
    <qdn-am-employees-react-add-popup></qdn-am-employees-react-add-popup>
  </qdn-popup>
</div>