<form #empmkeditform="ngForm" role="form">
    <!-- {{empeditform.value | json}}-->
       <div class="card">
           <div class="card-body">    
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <label for="example-text-input"class="form-control-label">Name</label>
                   <input class="form-control" type="text" [(ngModel)]="oEmployee.name"  name="name" #name="ngModel" [class.is-invalid]="(name.invalid && name.touched)  && (name.errors || submitted)" required>
                   <div *ngIf="submitted && name.errors && (name.invalid || name.untouched)">
                     <small class="text-danger" *ngIf="name.errors?.['required']">Name is required</small>                
                   </div>                                
                 </div>
               </div>
               <div class="col-md-6">
                <div class="form-group">
                  <label for="example-text-input"  class="form-control-label">Position</label>
                  <input class="form-control" type="text" [(ngModel)]="oEmployee.position"  name="position" #position="ngModel" [class.is-invalid]="(position.invalid && position.touched)  && (position.errors || submitted)" required>
                  <div *ngIf="submitted && position.errors && (position.invalid || position.untouched)">
                    <small class="text-danger" *ngIf="position.errors?.['required']">Position is required</small>
                  </div>  
                </div>
              </div>
               <div class="col-md-6">
                   <div class="form-group">
                     <label for="example-text-input"  class="form-control-label">Email Address</label>
                     <input class="form-control" type="email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" [(ngModel)]="oEmployee.email" name="email" #email="ngModel" [class.is-invalid]="(email.invalid && email.touched)  && (email.errors || submitted)" required>
                     <div *ngIf="submitted && email.errors && (email.invalid || email.untouched)">
                       <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>                
                       <small class="text-danger" *ngIf="email.errors?.['pattern']">Invalid email</small>                
                     </div>  
                   </div>
                 </div>
                 <div class="col-md-6">
                   <div class="form-group">
                     <label for="example-text-input"  class="form-control-label">Age</label>
                     <input class="form-control" type="number"   [(ngModel)]="oEmployee.age" name="age" #age="ngModel" [class.is-invalid]="(age.invalid && age.touched)  && (age.errors || submitted)" required>
                     <div *ngIf="submitted && age.errors && (age.invalid || age.dirty  || age.untouched)">
                       <small class="text-danger" *ngIf="age.errors?.['required']">Age is required</small>                                    
                     </div>  
                   </div>
                 </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <label for="example-text-input" class="form-control-label">Joining Date</label>
                   {{oEmployee.startdate | json}}
                   <input class="form-control" type="date" [(ngModel)]="oEmployee.startdate" name="joiningdate" #joiningdate="ngModel" [class.is-invalid]="(joiningdate.invalid && joiningdate.touched)  && (joiningdate.errors || submitted)" required>
                   <div *ngIf="submitted && joiningdate.errors && (joiningdate.invalid || joiningdate.untouched)">
                     <small class="text-danger" *ngIf="joiningdate.errors?.['required']">Joining date is required</small>
                   </div>
                 </div>
               </div>
             </div>             
             <div class="row">               
               <div class="col-md-4">
                 <div class="form-group">
                   <label for="example-text-input" class="form-control-label">Office</label>
                   <select class="form-control" name="office" required [(ngModel)]="oEmployee.office"  #office="ngModel" (change)="validateOffice(office.value)"  >
                       <option [value]="null">Select Office</option> 
                       <option [value]="item"  *ngFor="let item of this.officeCategory" [selected]="item === oEmployee.office"> {{item}}</option>
                    </select> 
                    <div *ngIf="office.invalid && submitted && office.dirty">
                     <small class="text-danger">Please choose a office</small>  
                    </div>
                 </div>
               </div>              
             </div>            
           </div>
         </div>
         <div class="text-center">
            <button type="button"  class="btn btn-primary mt-4" (click)="onSubmit()">Save</button>
          </div>
       </form>
