<p>mkemployee-edit-popup works!</p>
{{oEmployee | json}}
<form role="form">
    <div class="mb-3">
        <input type="text" id="id" name="id" min=3 max=6 (input)="binderEvent($event)" (blur)="validate($event)" required value="{{oEmployee.id}}" class="form-control"
            placeholder="Id" aria-label="Id">
    </div>
    <!-- <div *ngIf="error?.id?.required" class="mb-3" style="display:block">
        <span class="alert-danger">Id is mandotory.</span>
    </div> -->

    <!--Start Added Error divs -->
    <div *ngIf="error?.invalid" class="alert">
    
        <div *ngIf="error?.id?.required">
            Id is required.
        </div>
        <div *ngIf="error?.id?.min">
            Id must be at least 4 characters long.
        </div>
        <div *ngIf="error?.id?.max">
            Id should not be more than 6.
        </div>
    
    </div>
    <!--End Added Error divs -->

    <div class="form-group select-box">
        <select class="form-control select_style1" >
          <option value="" >Select Office</option>
          <!-- <option *ngIf="officeCategory" (value)="office" *ngFor="let office of this.officeCategory">
            {{office}} 
     </option> -->
          <option  (value)="office" *ngFor="let office of this.officeCategory">
            {{office}} 
     </option>
        </select>
        <!-- <select (change)="officeChanges($event)">
            <option value=""></option>
            
        </select> -->
        <!-- <span *ngIf="modelForm.get('model').hasError('required') && modelForm.get('model').touched" class='error' padding>Model is a required field.</span> -->
      </div>

    <div class="mb-3">
        <input type="text" id="name" name="name" min=3 (blur)="validate($event)" required value={{oEmployee.name}} class="form-control"
            placeholder="Name" aria-label="Name">
    </div>
    <div *ngIf="error?.min?.required" class="mb-3" style="display:block">
        <span class="alert-danger">Project is mandotory.</span>
    </div>
    <div class="mb-3">
        <input type="text" id="position" (blur)="validate($event)" name="position" required value={{oEmployee.position}} class="form-control"
            placeholder="Postion" aria-label="Postion">
    </div>
    <div *ngIf="error?.position?.required" class="mb-3" style="display:block">
        <span class="alert-danger">Position is mandotory.</span>
    </div>
    <div class="form-check form-check-info text-start">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Are you sure you want to <a href="javascript:;" class="text-dark font-weight-bolder">update this
                record</a>.?
        </label>
    </div>

    <div class="text-center">
        <button type="button" (click)="save" class="btn btn-primary mt-4">Apply Changes</button>
    </div>
</form>