<div class="d-flex align-items-center content-header" id="dvTopBar" >
    <div class="content-header-title-wrap">
        <h1 class="content-header-title">Organizations</h1>
    </div>
</div>
<div class="filter-container">
  <div class="form-row align-items-end">
    <form [formGroup]="orgDropDownListForm" (ngSubmit)="onSubmit()">
      <span id="CP_spnGroupName" class="seltitle">Organization</span>
      <div class="row" style="margin-top: 5px;">
      <div class="form-group col-md-2">       
          <select formControlName="name" [(ngModel)]="title" class="form-control orgselect">
            <option [value]="0">All</option>
            <option [value]="item.groupId" *ngFor="let item of organizationDropDownList"> {{item.groupName}}</option>
          </select>       
      </div>
      <div class="form-group col-md-2 p-0">
        <button class="btn btn-secondary">Apply Filter</button>
      </div>
    </div>
  </form> 
  </div>
</div>
<cmadmin-table [filterObject]="filterObject" [sortObj]="sortObj" [columns]="columns">
</cmadmin-table>
